{% extends "base.html" %}
{% block title %}
	Bat Mobile 
{% endblock %}
{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/gamepad.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}" width=80% align="middle">
	<div>
	<button type="button"  onclick="shoot()"> Shoot </button>
	<button type="button"  onclick="start()"> Start Record</button>
	<button type="button"  onclick="end()"> End Record </button>
	</div>
    <div id="Message Box"> 
    </div>

{% endblock %}
